<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Proekt</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Proekt.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">


				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Начало</a>
						</li>

						@{
							if (User.IsInRole("Admin"))
							{

								<li class="nav-item">
									<a class="nav-link text-dark" asp-controller="Products" asp-action="Index">Продукти</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-controller="Brands" asp-action="Create">Mарки</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-controller="Categories" asp-action="Create">Категории</a>
								</li>


							}

						}

						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Products" asp-action="Product">Каталог</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Products" asp-action="Mouses">Мишки</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Products" asp-action="Keyboards">Клавиатури</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Products" asp-action="Monitors">Монитори</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Products" asp-action="Chairs">Столове</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Products" asp-action="Mics">Микрофони</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Products" asp-action="Headphones">Слушалки</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUs">За нас</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Home" asp-action="contacts">Контакти</a>
						</li>
						@{
							if (string.IsNullOrEmpty(User.Identity.Name))
							{
								<ul class="nav-right">
									<li class="nav-item ">
										<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
									</li>
									<li class="nav-item justify-content-end gap-2">
										<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
									</li>
								</ul>
							}

						}
					</ul>
				</div>

			</div>
		</nav>
	</header>
	<div class="container">


		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top mt-5 footer text-muted">
		<div class="container">
			&copy; 2025 - Proekt - <a asp-area="" asp-controller="Home" asp-action="Начало"> &copy; ГеймАрена. Всички права запазени.</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
